.orangeName{
    position: relative;
    z-index: 0;
    width:90vw;
    padding-bottom: 1vh;
    right: 3vw;
}

.blackName{
    position: relative;
    z-index: 0;
    width:90vw;
    padding-bottom: 1vh;
    right: 6vw;
}